@media (max-width:1280px)
{
.container56 {
    height: 920px;
    width: 100%;
    max-width: 944px;
    margin: 0 auto;
    margin-left: 250px;
}
    
}
@media (max-width:1024px)
{
 .container56 {
    height: 920px;
    width: 100%;
    max-width: 866px;
    margin: 0 auto;
    margin-left: 150px;
}
   
}
@media (max-width:768px)
{
 .contactUs_item textarea {
    height: 137px;
    resize: none;
} 
    
  .headerind2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    height: 180px;
    padding-left: 80px;
    padding-right: 90px;
    top: 0;
    left: 45px;
    right: 45px;
    z-index: 1000;
    margin: 15px 0;
}  
    
 .container56 {
    height: 1560px;
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    margin-left: 62px;
}   
    
    .code_button{
        padding-top: 19px;
    text-align: right;
    }   
    
    .capz{
        padding-bottom: 20px;
    padding-left: 10px;
    } 
   
 .header_logo {
    width: 246px;
    position: absolute;
    height: 123px;
    left: 258px;
    top: 17px;
}
    
 .searchform2 {
    position: absolute;
    top: 140px;
    left: 225px;
    width: 300px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}
    
.navbar-toggler {
    position: absolute;
    left: 541px;
    top: -3px;
}  
    
  
    
    .navbar {

       background-color: floralwhite;
}  
    
    
    
    
    
    
    
    
    
@media (max-width:640px)
{
    
    .headerind3 {
    font-family: 'Roboto Slab';
    font-style: normal;
    height: 207px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgb(0 0 0 / 15%);
    width: 100%;
    margin-top: 0px;
}
.navbar-toggler {
    position: absolute;
    left: 285px;
    top: -47px;
}  
    
.header_logo {
    position: absolute;
    width: 226px;
    height: 113px;
    left: 223px;
    top: 20px;
} 
.searchform2 {
    position: absolute;
    width: 300px;
    top: 140px;
    left: 179px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}
  
   .navbar {
    position: absolute;
    display: flex;
    top: 50px;
    left: 289px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
       background-color: floralwhite;
} 
  
       
.footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
    flex-direction: column;
    justify-content: center;
}
    
 .footer-link {
    text-align: center;
    margin-top: -14px;
    font-size: 15px;
    margin-right: -3px;
    padding-left: 18px;
    margin-left: -10px;
    padding-top: 0px;
}
    
    .footer_menu {
    display: block;
    margin-left: -20px;
    text-align: center;
}
    
  .footer_item {
    margin: 0 5px;
}  
    
  .footer_link {
    margin-bottom: 15px;
}  
    
  .footer_link {
    margin: 0 5px;
}  
     
    
    
    
    
    
    
    
}

@media (max-width:480px)
{

    .navbar-toggler {
    position: absolute;
    left: 133px;
    top: -49px;
}
    
  .header_logo {
    position: absolute;
    width: 226px;
    height: 113px;
    left: 132px;
    top: 20px;
}  
    
   .searchform2 {
    position: absolute;
    width: 300px;
    top: 140px;
    left: 93px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
} 
    .code_button button {
    background-color: #57984C;
    border: 0px;
    border-radius: 60px;
    padding: 13px 60px 13px 60px;
    color: #fff;
    cursor: pointer;
    width: 210px;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 15px;
    transition: 0.4s linear;
}
  
    
  .searchform2 {
    position: absolute;
    width: 300px;
    top: 140px;
    left: 91px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}  
  .header_logo {
    position: absolute;
    width: 226px;
    height: 113px;
    left: 123px;
    top: 20px;
}  
    
.navbar-toggler {
    position: absolute;
    left: 121px;
    top: -49px;
}
    
 
    
    
    
    
    
    
}

@media (max-width:400px)
{
  .container56 {
    height: 1560px;
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    margin-left: 44px;
}

    
.navbar-toggler {
    position: absolute;
    left: 51px;
    top: -49px;
}
    
  .header_logo {
    position: absolute;
    width: 226px;
    height: 113px;
    left: 92px;
    top: 20px;
}  
    
 .searchform2 {
    position: absolute;
    width: 300px;
    top: 136px;
    left: 53px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}   
    
 .fontomato {
    width: 100%;
    height: 188px;
}   
    
  .conaitertext {
    height: 883px;
    width: 91%;
    max-width: 1000px;
    margin: 0 auto;
}  
    
   .containermaintext {
    padding: 15px;
    background-color: white;
    height: 896px;
    width: 89%;
    max-width: 1050px;
    margin: 0 auto;
} 
   .containercard {
    height: 3236px;
    width: 64%;
    max-width: 460px;
    padding-left: 13px;
    padding-top: 20px;
} 
    
.imgtom1 {
    width: 311px;
    height: 348px;
    padding-top: 31px;
    position: absolute;
    left: 39px;
    top: 2296px;
}  
.imgtom2 {
    height: 339px;
    width: 311px;
    position: absolute;
    top: 2682px;
}
 .containercard {
    height: 3106px;
    width: 87%;
    max-width: 460px;
    padding-left: 13px;
    padding-top: 20px;
}
  .imgtom3 {
    position: absolute;
    left: 39px;
    top: 3052px;
    width: 311px;
    height: 348px;
}  
  .imgtom4 {
    width: 311px;
    height: 350px;
    position: absolute;
    top: 3432px;
}  
    
   .imgtom5 {
    width: 310px;
    height: 349px;
    position: absolute;
    top: 3815px;
} 
    
   .imgtom6 {
    width: 311px;
    height: 356px;
    position: absolute;
    top: 4190px;
} 
    
  .imgtom7 {
    width: 312px;
    height: 350px;
    position: absolute;
    top: 4572px;
}  
    
  .imgtom8 {
    width: 311px;
    height: 356px;
    position: absolute;
    top: 4951px;
}  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}

@media (max-width:320px)
{

   
    
   .footerFirst .row {
    margin-top: 4px;
} 
    
  
  
 .header_logo {
    position: absolute;
    width: 226px;
    height: 113px;
    left: 50px;
    top: 20px;
}   
    
 .searchform2 {
    position: absolute;
    width: 250px;
    top: 136px;
    left: 41px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}   
  .navbar-toggler {
    position: absolute;
    left: -29px;
    top: -49px;
}  
  .container56 {
    height: 1560px;
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    margin-left: 27px;
}
    
 .container7 {
    background: #324950;
    height: 51px;
}   
    
    
    
}