@media (max-width:1280px)
{
.container56 {
    height: 1224px;
    width: 90%;
    max-width: 1013px;
    margin: 0 auto;
}   
}

@media (max-width:1024px)
{
    .logo{
        position: absolute;
    left: 30px;
    }
    .menuUp {
    display: block;
    position: absolute;
    right: -67px;
}
 .container56 {
    height: 1600px;
    width: 83%;
    max-width: 1002px;
    margin: 0 auto;
}   
    
 .code_button input {
    background-color: #57984C;
    border: 0px;
    border-radius: 59px;
    padding: 13px 60px 13px 60px;
    color: #fff;
    cursor: pointer;
    width: 198px;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 16px;
    transition: 0.4s linear;
}   
    

    
}
@media (max-width:768px)
{
    .container56 {
    height: 2000px;
    width: 83%;
    max-width: 1002px;
    margin: 0 auto;
}
    
 .code_button {
    padding-top: 50px;
    padding-left: 369px;
}
  .headerind3 {
    font-family: 'Roboto Slab';
    font-style: normal;
    height: 177px;
    padding-left: 80px;
    padding-right: 90px;
    top: 0;
    left: 45px;
    right: 45px;
    z-index: 1000;
    margin: 15px 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgb(0 0 0 / 15%);
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
     .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: -100px;
}
    
    .logo img {
    height: 100px;
    transition: 0.4s linear;
    position: absolute;
    left: 390px;
}
    
     .menuUp {
    display: block;
    position: absolute;
    top: 43px;
    right: 32px;
        background-color: #97b59d;
}
    
    .burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    right: -88px;
}
    
    .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    }

    .vision_img img {
    height: 500px;
    padding-left: 52px;
}
 .imgheader {
    position: absolute;
    left: 165px;
}   
.searchform2 {
    position: absolute;
    width: 300px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
    top: 100px;
    left: 90px;
}    
.contactUs {
    padding-top: 1px;
    padding-bottom: 50px;
    background-color: rgb(240, 240, 240);
}
  .intro_title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    color: #735440;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 26px;
}  
    
    
.footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
    flex-direction: column;
    justify-content: center;
}
    
 .footer-link {
    text-align: center;
    margin-top: -14px;
    font-size: 15px;
    margin-right: -3px;
    padding-left: 18px;
    margin-left: -10px;
    padding-top: 0px;
}
    
    .footer_menu {
    display: block;
    margin-left: -20px;
    text-align: center;
}
    
  .footer_item {
    margin: 0 5px;
}  
    
  .footer_link {
    margin-bottom: 15px;
}  
    
  .footer_link {
    margin: 0 5px;
}  
    
 .prod-details p {
    border-top: 1px solid #57984C;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #324950;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    margin-left: 145px;
    width: 325px;
}   
.textBlock_item {
    margin-top: -30px;
    padding-left: 23px;
}
   .contactUs_item textarea {
    height: 127px;
    resize: none;
} 
    
  }  
    
 

@media (max-width:640px)
{
    
.code_button {
    padding-top: 50px;
    padding-left: 275px;
}
  .logo img {
    height: 100px;
    transition: 0.4s linear;
    position: absolute;
    left: 331px;
}
    .searchform2 {
    position: absolute;
    width: 300px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
    top: 100px;
    left: 24px;
}
        .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    }

}

@media (max-width:480px)
{
 .logo img {
    height: 100px;
    transition: 0.4s linear;
    position: absolute;
    left: 241px;
} 
  .searchform2 {
    position: absolute;
    width: 300px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
    top: 100px;
    left: -59px;
}  
        .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    }
.code_button {
    padding-top: 30px;
    padding-left: 126px;
}
}

@media (max-width:420px)
{
 .logo img {
    height: 100px;
    transition: 0.4s linear;
    position: absolute;
    left: 204px;
}
    .searchform2 {
    position: absolute;
    width: 270px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
    top: 106px;
    left: -88px;
}
    .code_button {
    padding-top: 30px;
    padding-left: 57px;
}
}

@media (max-width:400px)
{
 .logo img {
    height: 100px;
    transition: 0.4s linear;
    position: absolute;
    left: 204px;
}
    .searchform2 {
    position: absolute;
    width: 270px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
    top: 106px;
    left: -88px;
}
    .code_button {
    padding-top: 30px;
    padding-left: 57px;
}
}

@media (max-width:320px)
{
 .logo img {
    height: 100px;
    transition: 0.4s linear;
    position: absolute;
    left: 165px;
}
 .searchform2 {
    position: absolute;
    width: 245px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
    top: 106px;
    left: -115px;
}   
    
  .code_button {
    padding-top: 30px;
    padding-left: 0px;
}  
  .menuUp {
    display: block;
    position: absolute;
    top: 42px;
    right: 35px;
    background: #97b59d;
    width: 210px;
}
    
    
    .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    } 
    
    .container56 {
    height: 2000px;
    width: 92%;
    max-width: 1002px;
    margin: 0 auto;
}
    
   .table td, .table th {
    padding: 4px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
} 
    
    
    
    
    
    
    
    
    
    
    
    
}