@media (max-width:1280px)
{

/* INDEX 1 */
.footer {
    display: flex;
    margin-left: 100px;
}
.footer-link {
    width: 11%;
    text-align: center;
    margin-top: 40px;
}
.footer-foto {
    width: 3%;
    text-align: right;

}
    
    
/* INDEX 2 */
    
    
 
    
}


@media (max-width:1024px)
{
    .logo{
        position: absolute;
    left: 30px;
    }
    
    
    .about {
    height: 1006px;
    background: url(../images/Union2.png)no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 0px;
}   
    .row_item {
        padding: 50px;
    }    
    
    
.about-titleind3 {
    text-align: left;
    font-weight: bold;
    font-size: 53px;
    font-weight: bold;
    color: #324950;
    margin-bottom: 0px;
    width: 526px;
    padding-left: 54px;
    top: 100;
} 
    .linktomato {
    text-decoration: none;
    color: #57984C;
    position: absolute;
    padding-left: 120px;
    padding-top: 9px;
}
     
.about-titleind4 {
    margin-top: 0px;
    text-align: left;
    font-weight: bold;
    font-size: 45px;
    font-weight: bold;
    color: #57984C;
    margin-left: 0px;
    width: 526px;
    padding-bottom: 20px;
    padding-left: 60px;
}

  .aboutzv {
    color: #57984C;
    text-align: left;
    font-size: 36px;
    padding-left: 60px;
}  
    
.quality {
    margin-left: 49px;
}
    
   .tomatoImage img {
    width: 93%;
    height: 370px;
} 
    
 .download {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    padding-right: 40px;
}   
  .textBlock {
    font-size: 20px;
    font-weight: bold;
    color: #324950;
    padding-left: 83px;
}  
   .quality_text {
    color: #CF2333;
    font-size: 25px;
} 
    
.menuUp {
    display: block;
    position: absolute;
    top: 53px;
    right: -62px;
}
 .footer {
    display: flex;
    padding-left: 32px;
    padding-right: 104px;
     margin-left: 0px;
}
    
  .footer-link {
        width: 14%;
    text-align: center;
    margin-top: 31px;
    padding: 13px;
    margin-left: 0px;
}  
    
.footer-foto {
    width: 3%;
    text-align: right;
    padding-top: 40px;
    padding-left: 37px;
}
    
.about-img {
    height: 460px;
}
  .about-title {
    font-weight: bold;
    font-size: 71px;
    color: #324950;
    margin-bottom: 15px;
}  
 .container4 {
    height: 950px;
    background: url(../images/Union.png)no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 0px;
}   
    
    
    
      
    
    
    
    
}
@media (max-width:768px)
{
    
    .headerind3 {
    font-family: 'Roboto Slab';
    font-style: normal;
    height: 190px;
    padding-left: 80px;
    padding-right: 90px;
    top: 0;
    left: 45px;
    right: 45px;
    z-index: 1000;
    margin: 15px 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgb(0 0 0 / 15%);
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
  .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 149px;
}  
.searchform2 {
    position: absolute;
    width: 300px;
    top: 108px;
    left: 90px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}
    
    .containermaintext {
    padding: 15px;
    background-color: white;
    height: 600px;
    width: 89%;
    max-width: 1050px;
    margin: 0 auto;
}
    
    
    
    .menuUp {
    display: block;
    position: absolute;
    top: 43px;
    right: 32px;
        background-color: #97b59d;
}
    
    .logo {
        display: flex;
        justify-content: center;

    position: absolute;
    left: 122px;
}
    
    .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    }
.burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    left: 570px;
}
  
    .footer{
        padding: 0;
    }    
  .footer-link {
    text-align: left;
    margin-top: 50px;
    font-size: 15px;
    margin-right: -3px;
    padding-left: 18px;
    margin-left: -10px;
    padding-top: 0px;
}
 .footer-foto {
    width: 3%;
    text-align: right;
    padding-top: 43px;
    padding-left: 0px;
    margin-right: 15px;
}   
    
    .prod-details p {
    border-top: 1px solid #57984C;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #324950;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    margin-left: 207px;
    width: 325px
    
}
    
    .footer_item {
    margin: -10px 13px;
    margin-top: -6px;
}
 
    
/*  INDEX 2   */
  
 .headerind2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    height: 171px;
    padding-left: 80px;
    padding-right: 90px;
    top: 0;
    left: 45px;
    right: 45px;
    z-index: 1000;
    margin: 15px 0;   
    
    }
    
.logo {
    position: absolute;
    left: -18px;
    top: 13px;

}

.searchform2 {
    position: absolute;
    width: 300px;
    top: 110px;
    left: 85px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}
    .about-titleind3 {
    text-align: left;
    font-weight: bold;
    font-size: 53px;
    font-weight: bold;
    color: #324950;
    margin-bottom: 0px;
    width: 635px;
margin: 0 auto;
        padding-left: 0px;
    top: 100;
    text-align: center;
}
.about-titleind4 {
    margin-top: 0px;
    text-align: left;
    font-weight: bold;
    font-size: 45px;
    font-weight: bold;
    color: #57984C;
    width: 700px;
    text-align: center;
    padding-left: 0px;
    padding-bottom: 41px;
    margin: 0 auto;
}
.burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    right: 5px;
}
.about {
    height: 1300px;
    background: url(../images/Union2.png)no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: -30px;
    margin-left: 0px;
}
 
  .logo img {
    height: 108px;
    transition: 0.4s linear;
    position: absolute;
    left: 302px;
    top: 0px;
}  
   .quality {
    margin-left: 15px;
    width: 510px;

    margin: 0 auto;
} 
    
   .aboutzv {
    color: #57984C;
    text-align: center;
    font-size: 36px;
    margin: 0 auto;
    padding-bottom: 20px;
       padding-left: 0px;
} 
    .linktomato {
    text-decoration: none;
    color: #57984C;
    position: absolute;
    padding-left: 26px;
    padding-top: 9px;
}
 .tomatoImage {
    margin-top: 7px;
    padding-left: 83px;
}   
.textBlock_item {
    margin-top: -30px;
    padding-left: 94px;
}
  .textBlock {
    font-size: 20px;
    font-weight: bold;
    color: #324950;
    padding-left: 0px;
}  
    
    
    
    
    
    
    
    
    
    
    
    
    
  }  
    
    
    
    
    
    
    
    
    

    
    
    

@media (max-width:640px)
{
    
   .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: -100px;
}
     .menuUp {
    display: block;
    position: absolute;
    top: 43px;
    right: 32px;
        background-color: #97b59d;
}
    
    .burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    right: -88px;
}
    
    .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    }

    .vision_img img {
    height: 500px;
    padding-left: 52px;
}
 .imgheader {
    position: absolute;
    left: 165px;
}   
    
.searchform2 {
    position: absolute;
    width: 300px;
    top: 111px;
    left: 3px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
} 
    
    .about-titleind3 {
    text-align: left;
    font-weight: bold;
    font-size: 53px;
    font-weight: bold;
    color: #324950;
    margin-bottom: 0px;
    width: 455px;
    margin: 0 auto;
    padding-left: 0px;
    top: 100;
    text-align: center;
}
   .about-titleind4 {
    margin-top: 0px;
    text-align: left;
    font-weight: bold;
    font-size: 45px;
    font-weight: bold;
    color: #57984C;
    width: 520px;
    text-align: center;
    padding-left: 0px;
    padding-bottom: 41px;
    margin: 0 auto;
} 
    
    
  .intro_title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    color: #735440;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 26px;
}  
    
    
.footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
    flex-direction: column;
    justify-content: center;
}
    
 .footer-link {
    text-align: center;
    margin-top: -14px;
    font-size: 15px;
    margin-right: -3px;
    padding-left: 18px;
    margin-left: -10px;
    padding-top: 0px;
}
    
    .footer_menu {
    display: block;
    margin-left: -20px;
    text-align: center;
}
    
  .footer_item {
    margin: 0 5px;
}  
    
  .footer_link {
    margin-bottom: 15px;
}  
    
  .footer_link {
    margin: 0 5px;
}  
    
 .prod-details p {
    border-top: 1px solid #57984C;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #324950;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    margin-left: 145px;
    width: 325px;
}   
.textBlock_item {
    margin-top: -30px;
    padding-left: 23px;
}
    
}

@media (max-width:480px)
{
   .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: -164px;
}
    
     .menuUp {
    display: block;
    position: absolute;
    top: 43px;
    right: 32px;
        background-color: #97b59d;
}
    
    
    
    .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    }
.burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    right: -157px;
}
.searchform2 {
    position: absolute;
    width: 265px;
    top: 112px;
    left: -40px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}
    
 .vision_text p {
    font-size: 18px;
    color: #324950;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}
    
  
   .about-titleind4 {
    margin-top: 0px;
    text-align: left;
    font-weight: bold;
    font-size: 45px;
    font-weight: bold;
    color: #57984C;
    width: 460px;
    text-align: center;
    padding-left: 0px;
    padding-bottom: 41px;
    margin: 0 auto;
} 
    
   .quality {
    margin-left: 15px;
    width: 460px;
    margin: 0 auto;
} 
    
  .textBlock_item {
    margin-top: -30px;
    padding-left: 0px;
}  
    
 .tomatoImage {
    margin-top: 7px;
    padding-left: 24px;
}  
 
    
    .vision_img img {
    height: 430px;
    padding-left: 2px;
}
    
.intro_title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    color: #735440;
    text-align: center;
    margin-bottom: 9px;
    padding-top: 26px;
}    
    
 .searchform {
    position: absolute;
    left: 49px;
    top: 135px;
}   
    
  .imgheader {
    position: absolute;
    left: 84px;
}  
.prod-details p {
    border-top: 1px solid #57984C;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #324950;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    margin-left: 64px;
    width: 325px;
} 
    
 .product_item p {
    padding-top: 15px;
    font-size: 19px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
}   
    
 .about {
    height: 1337px;
    background: url(../images/Union.png)no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 0px;
}   
    
    
    
}

@media (max-width:420px)
{
   .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: -203px;
}
     .menuUp {
    display: block;
    position: absolute;
    top: 43px;
    right: 32px;
        background-color: #97b59d;
}
   .download {
    display: flex;
    justify-content: flex-end;
    padding-top: 14px;
    padding-right: 24px;
    padding-bottom: 13px;
} 
    
    
    .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    }
.burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    right: -189px;
}
.searchform2 {
    position: absolute;
    width: 265px;
    top: 112px;
    left: -75px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}
.vision_text p {
    font-size: 18px;
    color: #324950;
    text-align: center;
    width: 346px;
    margin: 0 auto;
}
    
    .col-lg-5{
    padding-left: 1px;
}
    
   .vision_img img {
    height: 360px;
    padding-left: 0px;
} 
    
 .colection {
    background-color: #fff;
    height: 341px;
}   
    
  .imgheader {
    position: absolute;
    left: 51px;
}  

    .intro_title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #735440;
    text-align: center;
    margin-bottom: -2px;
    padding-top: 31px;
}
   .prod-details p {
    border-top: 1px solid #57984C;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #324950;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    margin-left: 31px;
    width: 325px;
} 
    
   .container5 {
    background: #EDEDED;
    height: 1045px;
} 
  
  .footer_menu {
    display: block;
    margin-left: -55px;
    text-align: center;
}  
  .about-titleind3 {
    text-align: left;
    font-weight: bold;
    font-size: 45px;
    font-weight: bold;
    color: #324950;
    margin-bottom: 0px;
    width: 328px;
    margin: 0 auto;
    padding-left: 0px;
    top: 100;
    text-align: center;
}  
  .about-titleind4 {
    margin-top: 0px;
    text-align: left;
    font-weight: bold;
    font-size: 43px;
    font-weight: bold;
    color: #57984C;
    width: 321px;
    text-align: center;
    padding-left: 0px;
    padding-bottom: 41px;
    margin: 0 auto;
}  
 .quality {
    margin-left: 15px;
    width: 333px;
    margin: 0 auto;
}   
  .about {
    height: 1547px;
    background: url(../images/Union.png)no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 0px;
}  
}
@media (max-width:400px)
{
   .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: -203px;
}
     .menuUp {
    display: block;
    position: absolute;
    top: 43px;
    right: 32px;
        background-color: #97b59d;
}
   .download {
    display: flex;
    justify-content: flex-end;
    padding-top: 14px;
    padding-right: 24px;
    padding-bottom: 13px;
} 
    
    
    .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    }
.burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    right: -189px;
}
.searchform2 {
    position: absolute;
    width: 265px;
    top: 112px;
    left: -75px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}
.vision_text p {
    font-size: 18px;
    color: #324950;
    text-align: center;
    width: 346px;
    margin: 0 auto;
}
    
    .col-lg-5{
    padding-left: 1px;
}
    
   .vision_img img {
    height: 360px;
    padding-left: 0px;
} 
    
 .colection {
    background-color: #fff;
    height: 341px;
}   
    
  .imgheader {
    position: absolute;
    left: 51px;
}  

    .intro_title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #735440;
    text-align: center;
    margin-bottom: -2px;
    padding-top: 31px;
}
   .prod-details p {
    border-top: 1px solid #57984C;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #324950;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    margin-left: 31px;
    width: 325px;
} 
    
   .container5 {
    background: #EDEDED;
    height: 1045px;
} 
  
  .footer_menu {
    display: block;
    margin-left: -55px;
    text-align: center;
}  
  .about-titleind3 {
    text-align: left;
    font-weight: bold;
    font-size: 45px;
    font-weight: bold;
    color: #324950;
    margin-bottom: 0px;
    width: 328px;
    margin: 0 auto;
    padding-left: 0px;
    top: 100;
    text-align: center;
}  
  .about-titleind4 {
    margin-top: 0px;
    text-align: left;
    font-weight: bold;
    font-size: 43px;
    font-weight: bold;
    color: #57984C;
    width: 321px;
    text-align: center;
    padding-left: 0px;
    padding-bottom: 41px;
    margin: 0 auto;
}  
 .quality {
    margin-left: 15px;
    width: 333px;
    margin: 0 auto;
}   
  .about {
    height: 1547px;
    background: url(../images/Union.png)no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 0px;
}  
}

@media (max-width:320px)
{
   .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: -245px;
}
.menuUp {
    display: block;
    position: absolute;
    top: 42px;
    right: 35px;
    background: #97b59d;
    width: 210px;
}
    
    
    .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    }
.burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: 0;
    right: -238px;
}
.searchform2 {
    position: absolute;
    width: 224px;
    top: 120px;
    left: -101px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}
.vision_text p {
    font-size: 18px;
    color: #324950;
    text-align: center;
    width: 238px;
    margin: 0 auto;
}
    
.quality {
    margin-left: 15px;
    width: 300px;
    margin: 0 auto;
}   
   .about-titleind4 {
    margin-top: 0px;
    text-align: left;
    font-weight: bold;
    font-size: 34px;
    font-weight: bold;
    color: #57984C;
    width: 278px;
    text-align: center;
    padding-left: 0px;
    padding-bottom: 41px;
    margin: 0 auto;
}
    .about-titleind3 {
    text-align: left;
    font-weight: bold;
    font-size: 42px;
    font-weight: bold;
    color: #324950;
    margin-bottom: 0px;
    width: 288px;
    margin: 0 auto;
    padding-left: 0px;
    top: 100;
    text-align: center;
}
    
 .imgheader {
    position: absolute;
    left: 8px;
}
  .searchform {
    position: absolute;
    left: -33px;
    top: 115px;
}  
    
.vision_img img {
    height: 266px;
    padding-left: 0px;
}
    
.colection {
    background-color: #fff;
    height: 821px;
}
    .prod-details p {
    border-top: 1px solid #57984C;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #324950;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    margin-left: -13px;
    width: 319px;
}
    
   .about-title {
    font-weight: bold;
    font-size: 50px;
    color: #324950;
    margin-bottom: -1px;
    text-align: center;
} 
    
  .vision_text p {
    font-size: 15px;
    color: #324950;
    text-align: center;
}  
    
.about {
    height: 1700px;
    background: url(../images/Union.png)no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 0px;
}
   .container7 {
    background: #324950;
    height: 49px;
} 
    
    .container-fluid {
    width: 65%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
   .footer_menu {
    display: block;
    margin-left: -28px;
    text-align: center;
} 
    
  .tomatoImage img {
    width: 93%;
    height: 250px;
}  
   .download span {
    padding-left: 10px;
    color: #57984C;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 14px;
} 
}