@media (max-width:1280px)
{

    
}
@media (max-width:1024px)
{
   

.containercardd {
    height: 795px;
    width: 100%;
    max-width: 976px;
    margin: 0 auto;
}
    .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 33px;
}
    
.menu {
    padding-top: 24px;
    right: 0;
    left: auto;
    position: absolute;
    right: 26px;
    top: 60px;
}
 .searchform2 {
    position: absolute;
    width: 300px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
    right: 38px;
    top: 17px;
}   
   .products {
    padding-top: 1px;
    padding-bottom: 20px;
} 
    
}
@media (max-width:768px)
{
    .menu {
    padding-top: 17px;
    padding-right: 28px;
    right: 0;
    left: auto;
    position: absolute;
    right: 6px;
    top: 12px;
    background: #d1b39d;
}
    
    
   .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 143px;
}
    
    .menuUp {
    display: block;
    position: absolute;
    top: 43px;
    right: 32px;
        background-color: #97b59d;
}

    .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    }
.burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    left: 601px;
}
    .colection {
    background-color: #fff;
    height: 238px;
} 
    
    
    
    .fontomato {
    width: 100%;
    max-height: 225px;
}
    
    .openMenu {
    visibility: visible;
}
.burger-line {
    visibility: visible;
}  
  
     .containercardd {
    height: 1125px;
    width: 85%;
    max-width: 976px;
    margin: 0 auto;
}
  
.headerind3 {
    font-family: 'Roboto Slab';
    font-style: normal;
    height: 131px;
    padding-left: 80px;
    padding-right: 90px;
    top: 0;
    left: 45px;
    right: 45px;
    z-index: 1000;
    margin: 15px 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgb(0 0 0 / 15%);
    padding-top: 10px;
    margin-top: 0px;
    height: 170px;
    margin-bottom: 0px;
}
    
.searchform2 {
    position: absolute;
    width: 300px;
    top: 110px;
    left: 36px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}
    
  .navbar {
    position: absolute;
    display: flex;
    top: 50px;
    left: 414px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}  
    
  .header_logo {
    position: absolute;
    width: 226px;
    height: 113px;
    left: 258px;
    top: 20px;
}  
    
 .containerfon {
    height: 235px;
    background-color: #FCF0F0;
}   
    
  .conaitertext {
    height: 541px;
    width: 91%;
    max-width: 1000px;
    margin: 0 auto;
}  
    
.containermaintext {
    padding: 15px;
    background-color: white;
    height: 596px;
    width: 89%;
    max-width: 1050px;
    margin: 0 auto;
}
    
  .conaitertext2 {
    height: 50px;
    width: 91%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}  
  .veg-thum img {
    max-width: 100%;
    max-height: 104%;
    padding-bottom: 50px;
}  
    
  .imgtom1 {
    width: 264px;
    height: 249px;
    padding-top: 31px;
    position: absolute;
    left: 246px;
    top: 1674px;
}  
    
  .containercard {
   
    height: 3116px;
    width: 64%;
    max-width: 460px;
   
    padding-left: 13px;
    padding-top: 20px;
}
  .veg-details a {
    background-color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #57984C;
    font-size: 16px;
    padding-bottom: 20px;
    padding-top: 10px;

}  
/*    
 .imgtom1 {
    width: 424px;
    height: 389px;
    padding-top: 31px;
    position: absolute;
    left: 166px;
    top: 1584px;
}
.imgtom2 {
    height: 368px;
    width: 423px;
    position: absolute;
    top: 1981px;
}

.imgtom3 {
    position: absolute;
    left: 167px;
    top: 2359px;
    width: 423px;
    height: 370px;
}    
    
  .imgtom4 {
    width: 423px;
    height: 342px;
    position: absolute;
    top: 2766px;
}  
    
 .imgtom5 {
    width: 423px;
    height: 347px;
    position: absolute;
    top: 3143px;
}   
  .imgtom6 {
    width: 423px;
    height: 346px;
    position: absolute;
    top: 3525px;
}  
    
  .imgtom7 {
    width: 423px;
    height: 351px;
    position: absolute;
    top: 3907px;
}  
    
  .imgtom8 {
    width: 423px;
    height: 340px;
    position: absolute;
    top: 4291px;
}  
    
  */  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
@media (max-width:640px)
{
  
    .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 118px;
}
    
  .burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    left: 514px;
}  
     .menuUp {
    display: block;
    position: absolute;
    top: 43px;
    right: 32px;
        background-color: #97b59d;
}

    .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    } 
    
    .searchform2 {
    position: absolute;
    width: 300px;
    top: 110px;
    left: 84px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}
    
    
    
    
    
   .navbar {
    position: absolute;
    display: flex;
    top: 50px;
    left: 289px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
} 
    
    .header_logo {
    position: absolute;
    width: 226px;
    height: 113px;
    left: 213px;
    top: 20px;
}
    

    
    .conaitertext {
    height: 691px;
    width: 91%;
    max-width: 1000px;
    margin: 0 auto;
}
    
  .containermaintext {
    padding: 15px;
    background-color: white;
    height: 636px;
    width: 89%;
    max-width: 1050px;
    margin: 0 auto;
}  
    
    .containercardd {
    height: 1891px;
    width: 90%;
    max-width: 506px;
    margin: 0 auto;
}
    
/*    
  .imgtom1 {
    width: 374px;
    height: 369px;
    padding-top: 31px;
    position: absolute;
    left: 127px;
    top: 1815px;
}  
    
   .imgtom2 {
    height: 359px;
    width: 373px;
    position: absolute;
    top: 2211px;
} 
    .imgtom3 {
    position: absolute;
    left: 127px;
    top: 2579px;
    width: 374px;
    height: 368px;
}
    
 .imgtom4 {
    width: 373px;
    height: 363px;
    position: absolute;
    top: 2965px;
}   
    
    .imgtom5 {
    width: 373px;
    height: 367px;
    position: absolute;
    top: 3343px;
}
    
    .imgtom6 {
    width: 373px;
    height: 366px;
    position: absolute;
    top: 3726px;
}
    
   .imgtom7 {
    width: 373px;
    height: 369px;
    position: absolute;
    top: 4106px;
} 
    
 .imgtom8 {
    width: 373px;
    height: 366px;
    position: absolute;
    top: 4489px;
}   
    */
       
.footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
    flex-direction: column;
    justify-content: center;
}
    
 .footer-link {
    text-align: center;
    margin-top: -14px;
    font-size: 15px;
    margin-right: -3px;
    padding-left: 18px;
    margin-left: -10px;
    padding-top: 0px;
}
    
    .footer_menu {
    display: block;
    margin-left: -20px;
    text-align: center;
}
    
  .footer_item {
    margin: 0 5px;
}  
    
  .footer_link {
    margin-bottom: 15px;
}  
    
  .footer_link {
    margin: 0 5px;
}  
     
    
    
    
    
    
    
    
}

@media (max-width:480px)
{

    .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 76px;
}
  .burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    left: 394px;
}  
    

 .searchform2 {
    position: absolute;
    width: 260px;
    top: 110px;
    left: 61px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}
  .header_logo {
    position: absolute;
    width: 226px;
    height: 113px;
    left: 123px;
    top: 20px;
}  
    
.navbar-toggler {
    position: absolute;
    left: 121px;
    top: -49px;
}
    
   .fontomato {
    width: 100%;
    height: 170px;
} 
    
   .conaitertext {
    height: 791px;
    width: 91%;
    max-width: 1000px;
    margin: 0 auto;
} 
    
    .containermaintext {
    padding: 15px;
    background-color: white;
    height: 756px;
    width: 89%;
    max-width: 1050px;
    margin: 0 auto;
}
    
   .imgtom1 {
    width: 271px;
    height: 320px;
    padding-top: 31px;
    position: absolute;
    left: 98px;
    top: 2084px;
} 
    
  .imgtom2 {
    height: 328px;
    width: 272px;
    position: absolute;
    top: 2459px;
}  
    
 .imgtom3 {
    position: absolute;
    left: 99px;
    top: 2849px;
    width: 271px;
    height: 318px;
}   
    
   .imgtom4 {
    width: 270px;
    height: 320px;
    position: absolute;
    top: 3227px;
} 
    
 .imgtom5 {
    width: 270px;
    height: 329px;
    position: absolute;
    top: 3602px;
}   
 .imgtom6 {
    width: 270px;
    height: 326px;
    position: absolute;
    top: 3988px;
}   
.imgtom7 {
    width: 270px;
    height: 322px;
    position: absolute;
    top: 4369px;
}    
    
 .imgtom8 {
    width: 271px;
    height: 336px;
    position: absolute;
    top: 4740px;
}   
    
 @media (max-width:420px)
{   
    
 .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 53px;
}   
 .burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    left: 341px;
}   
    
 .searchform2 {
    position: absolute;
    width: 240px;
    top: 113px;
    left: 56px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}   

    
.navbar-toggler {
    position: absolute;
    left: 51px;
    top: -49px;
}
    
  .header_logo {
    position: absolute;
    width: 226px;
    height: 113px;
    left: 92px;
    top: 20px;
}  
    
 
    
 .fontomato {
    width: 100%;
    height: 188px;
}   
    
  .conaitertext {
    height: 883px;
    width: 91%;
    max-width: 1000px;
    margin: 0 auto;
}  
    
  .containermaintext {
    padding: 15px;
    background-color: white;
    height: 923px;
    width: 89%;
    max-width: 1050px;
    margin: 0 auto;
}
   .containercard {
    height: 3236px;
    width: 64%;
    max-width: 460px;
    padding-left: 13px;
    padding-top: 20px;
} 
    
.imgtom1 {
    width: 311px;
    height: 348px;
    padding-top: 31px;
    position: absolute;
    left: 39px;
    top: 2296px;
}  
.imgtom2 {
    height: 339px;
    width: 311px;
    position: absolute;
    top: 2682px;
}
 .containercard {
    height: 3106px;
    width: 87%;
    max-width: 460px;
    padding-left: 13px;
    padding-top: 20px;
}
  .imgtom3 {
    position: absolute;
    left: 39px;
    top: 3052px;
    width: 311px;
    height: 348px;
}  
  .imgtom4 {
    width: 311px;
    height: 350px;
    position: absolute;
    top: 3432px;
}  
    
   .imgtom5 {
    width: 310px;
    height: 349px;
    position: absolute;
    top: 3815px;
} 
    
   .imgtom6 {
    width: 311px;
    height: 356px;
    position: absolute;
    top: 4190px;
} 
    
  .imgtom7 {
    width: 312px;
    height: 350px;
    position: absolute;
    top: 4572px;
}  
    
  .imgtom8 {
    width: 311px;
    height: 356px;
    position: absolute;
    top: 4951px;
}  
    
    
    
    
    
    
   
    
    
    
    }
    
    
    
}

@media (max-width:400px)
{
 .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 53px;
}   
 .burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    left: 341px;
}   
    
 .searchform2 {
    position: absolute;
    width: 240px;
    top: 113px;
    left: 56px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}   

    
.navbar-toggler {
    position: absolute;
    left: 51px;
    top: -49px;
}
    
  .header_logo {
    position: absolute;
    width: 226px;
    height: 113px;
    left: 92px;
    top: 20px;
}  
    
 
    
 .fontomato {
    width: 100%;
    height: 188px;
}   
    
  .conaitertext {
    height: 883px;
    width: 91%;
    max-width: 1000px;
    margin: 0 auto;
}  
    
  .containermaintext {
    padding: 15px;
    background-color: white;
    height: 923px;
    width: 89%;
    max-width: 1050px;
    margin: 0 auto;
}
   .containercard {
    height: 3236px;
    width: 64%;
    max-width: 460px;
    padding-left: 13px;
    padding-top: 20px;
} 
    
.imgtom1 {
    width: 311px;
    height: 348px;
    padding-top: 31px;
    position: absolute;
    left: 39px;
    top: 2296px;
}  
.imgtom2 {
    height: 339px;
    width: 311px;
    position: absolute;
    top: 2682px;
}
 .containercard {
    height: 3106px;
    width: 87%;
    max-width: 460px;
    padding-left: 13px;
    padding-top: 20px;
}
  .imgtom3 {
    position: absolute;
    left: 39px;
    top: 3052px;
    width: 311px;
    height: 348px;
}  
  .imgtom4 {
    width: 311px;
    height: 350px;
    position: absolute;
    top: 3432px;
}  
    
   .imgtom5 {
    width: 310px;
    height: 349px;
    position: absolute;
    top: 3815px;
} 
    
   .imgtom6 {
    width: 311px;
    height: 356px;
    position: absolute;
    top: 4190px;
} 
    
  .imgtom7 {
    width: 312px;
    height: 350px;
    position: absolute;
    top: 4572px;
}  
    
  .imgtom8 {
    width: 311px;
    height: 356px;
    position: absolute;
    top: 4951px;
}  
    
    

    
    
    
}

@media (max-width:320px)
{
    
   .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 30px;
} 
    
 .burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    left: 286px;
}   
    
    
.searchform2 {
    position: absolute;
    width: 250px;
    top: 112px;
    left: 36px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
} 
    
    
    
    
    
    
    
    
    
    
    
    
    

   .fontomato {
    width: 100%;
    height: 168px;
} 
  
 .header_logo {
    position: absolute;
    width: 226px;
    height: 113px;
    left: 50px;
    top: 20px;
}   
 
  .navbar-toggler {
    position: absolute;
    left: -29px;
    top: -49px;
}  
  .containerfon {
    height: 185px;
    background-color: #FCF0F0;
}  
    
.conaitertext {
    height: 1050px;
    width: 91%;
    max-width: 1000px;
    margin: 0 auto;
}
    
.containermaintext {
    padding: 15px;
    background-color: white;
    height: 1101px;
    width: 89%;
    max-width: 1050px;
    margin: 0 auto;
}
   .containercard {
    height: 3106px;
    width: 96%;
    max-width: 460px;
    padding-left: 13px;
    padding-top: 5px;
} 
    
 
 .container7 {
    background: #324950;
    height: 51px;
}   
    
    
    
}