@media (max-width:1280px)
{

/* INDEX 1 */
.footer {
    display: flex;
    margin-left: 100px;
}
.footer-link {
    width: 11%;
    text-align: center;
    margin-top: 40px;
}
.footer-foto {
    width: 3%;
    text-align: right;

}
    
    
/* INDEX 2 */
    
    
 
    
}


@media (max-width:1024px)
{
   .menuUp {
    display: block;
    position: absolute;
    top: 53px;
    right: -20px;
}
 .footer {
    display: flex;
    padding-left: 32px;
    padding-right: 104px;
     margin-left: 0px;
}
    
  .footer-link {
        width: 14%;
    text-align: center;
    margin-top: 31px;
    padding: 13px;
    margin-left: 0px;
}  
    
.footer-foto {
    width: 3%;
    text-align: right;
    padding-top: 40px;
    padding-left: 37px;
}
    
.about-img {
    height: 460px;
}
  .about-title {
    font-weight: bold;
    font-size: 71px;
    color: #324950;
    margin-bottom: 15px;
}  
 .container4 {
    height: 950px;
    background: url(../images/Union.png)no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 0px;
}   
    
    
    
      
    
    
    
    
}
@media (max-width:768px)
{
    .menuUp {
    display: block;
    position: absolute;
    top: 43px;
    right: 32px;
        background-color: #97b59d;
}
    
    .logo {
        display: flex;
        justify-content: center;

    position: absolute;
    left: 122px;
}
    
    .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    }
.burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    left: 570px;
}
    .colection {
    background-color: #fff;
    height: 238px;
}
    .about-title {
    font-weight: bold;
    font-size: 59px;
    color: #324950;
    margin-bottom: 15px;
    text-align: center;
}
    .crosses p {
    color: #57984C;
    text-align: left;
    font-size: 23px;
    text-align: center;
}
    
    .vision_text p {
    font-size: 18px;
    color: #324950;
    text-align: center;
}
    .vision_img img {
    height: 500px;
    padding-left: 105px;
}

   .container4 {
    height: 1435px;
    background: url(../images/Union.png)no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 0px;
} 
    
   .about {
    height: 1435px;
    background: url(../images/Union.png)no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 0px;
}
    
    
    
    
    .navbar-toggler {
    position: absolute;
    left: -19px;
    top: -12px;
}
    
    .container2 {
    width: 50%;
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
}
    
    .intro_title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    color: #735440;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 26px;
}
    
    
    .imgheader{
        position: absolute;
        left: 217px;
    }
    
    .navbar-nav{
        padding-top: 20px;
      background-color: #57984C;
    }
    
.searchform2 {
    position: absolute;
    width: 300px;
    top: 118px;
    left: 187px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}
    .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 493px;
    background-image: url(../images/intro.jpg);
    background-size: cover;
}
    
    
   .container1 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    margin-left: 0px;
} 
    
 .header_logo {
    width: 716px;
    height: 99px;
    left: 388px;
    top: 20px;
}   
    
 .nav {
    font-size: 19px;
    margin-top: 11px;
    text-align: right;
}   
    
  .about-img {
    height: 350px;
}  
   
  .about-block {
    max-width: 315px;
    margin-top: 60px;
    margin-left: 23px;
}
    
 .container4 {
    height: 765px;
    background: url(../images/Union.png)no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 0px;
}   
    
   .maintext {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #324950;
    margin-top: 16px;
} 
    
  .prod-thum {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}  
    
   .prod-details a {
    text-decoration: none;
    text-align: center;
    display: block;
    color: #57984C;
    font-size: 24px;
    padding-bottom: 8px;
} 
    
 .container5 {
    background: #EDEDED;
    height: 1004px;
}   
   
    
    .footer{
        padding: 0;
    }    
  .footer-link {
    text-align: left;
    margin-top: 50px;
    font-size: 15px;
    margin-right: -3px;
    padding-left: 18px;
    margin-left: -10px;
    padding-top: 0px;
}
 .footer-foto {
    width: 3%;
    text-align: right;
    padding-top: 43px;
    padding-left: 0px;
    margin-right: 15px;
}   
    
    .prod-details p {
    border-top: 1px solid #57984C;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #324950;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    margin-left: 207px;
    width: 325px
    
}
    
    .footer_item {
    margin: -10px 13px;
    margin-top: -6px;
}
 
    
/*  INDEX 2   */
  
 .headerind2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    height: 171px;
    padding-left: 80px;
    padding-right: 90px;
    top: 0;
    left: 45px;
    right: 45px;
    z-index: 1000;
    margin: 15px 0;   
    
    }
    
    
.searchform2 {
    position: absolute;
    width: 300px;
    top: 120px;
    left: 190px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}
    
    
  }  
    
    
    
    
    
    
    
    
    

    
    
    

@media (max-width:640px)
{
    
    .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 89px;
}
     .menuUp {
    display: block;
    position: absolute;
    top: 43px;
    right: 32px;
        background-color: #97b59d;
}
    
    
    
    .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    }
.burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    left: 490px;
}
    .vision_img img {
    height: 500px;
    padding-left: 52px;
}
 .imgheader {
    position: absolute;
    left: 165px;
}   
    
 .searchform {
    position: absolute;
    left: 130px;
    top: 115px;
}  
    
  .intro_title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    color: #735440;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 26px;
}  
    
    
.footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
    flex-direction: column;
    justify-content: center;
}
    
 .footer-link {
    text-align: center;
    margin-top: -14px;
    font-size: 15px;
    margin-right: -3px;
    padding-left: 18px;
    margin-left: -10px;
    padding-top: 0px;
}
    
    .footer_menu {
    display: block;
    margin-left: -20px;
    text-align: center;
}
    
  .footer_item {
    margin: 0 5px;
}  
    
  .footer_link {
    margin-bottom: 15px;
}  
    
  .footer_link {
    margin: 0 5px;
}  
    
 .prod-details p {
    border-top: 1px solid #57984C;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #324950;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    margin-left: 145px;
    width: 325px;
}   
    
   .searchform2 {
    position: absolute;
    width: 300px;
    top: 120px;
    left: 127px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
} 
    
    
}

@media (max-width:480px)
{
    .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 51px;
}
    
     .menuUp {
    display: block;
    position: absolute;
    top: 43px;
    right: 32px;
        background-color: #97b59d;
}
    
    
    
    .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    }
.burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    left: 373px;
}
.searchform2 {
    position: absolute;
    width: 245px;
    top: 120px;
    left: 70px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}
    
 .vision_text p {
    font-size: 18px;
    color: #324950;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}
    
    .col-lg-5{
    padding-left: 1px;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .vision_img img {
    height: 430px;
    padding-left: 2px;
}
    
.intro_title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    color: #735440;
    text-align: center;
    margin-bottom: 9px;
    padding-top: 26px;
}    
    
 .searchform {
    position: absolute;
    left: 49px;
    top: 135px;
}   
    
  .imgheader {
    position: absolute;
    left: 84px;
}  
.prod-details p {
    border-top: 1px solid #57984C;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #324950;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    margin-left: 64px;
    width: 325px;
} 
    
 .product_item p {
    padding-top: 15px;
    font-size: 19px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
}   
    
 .about {
    height: 1337px;
    background: url(../images/Union.png)no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 0px;
}   
    
    
    
}

@media (max-width:420px)
{
    
.logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 34px;
}
     .menuUp {
    display: block;
    position: absolute;
    top: 43px;
    right: 32px;
        background-color: #97b59d;
}
    
    
    
    .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    }
.burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    left: 327px;
}
.searchform2 {
    position: absolute;
    width: 245px;
    top: 120px;
    left: 70px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}
    
.vision_text p {
    font-size: 18px;
    color: #324950;
    text-align: center;
    width: 346px;
    margin: 0 auto;
}
    
    .col-lg-5{
    padding-left: 1px;
}
    
   .vision_img img {
    height: 360px;
    padding-left: 0px;
} 
    
 .colection {
    background-color: #fff;
    height: 341px;
}   
    
  .imgheader {
    position: absolute;
    left: 51px;
}  
    
  .searchform {
    position: absolute;
    left: 20px;
    top: 115px;
}  
    .intro_title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #735440;
    text-align: center;
    margin-bottom: -2px;
    padding-top: 31px;
}
   .prod-details p {
    border-top: 1px solid #57984C;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #324950;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    margin-left: 31px;
    width: 325px;
} 
    
   .container5 {
    background: #EDEDED;
    height: 1045px;
} 
.searchform2 {
    position: absolute;
    width: 245px;
    top: 120px;
    left: 38px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}    
  .footer_menu {
    display: block;
    margin-left: -55px;
    text-align: center;
}  
    
    
    
    
    
    
    
    
    
    
    
}









@media (max-width:400px)
{
    
      .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 30px;
}
     .menuUp {
    display: block;
    position: absolute;
    top: 43px;
    right: 32px;
        background-color: #97b59d;
}
    
    
    
    .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    }
.burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    left: 318px;
}
.searchform2 {
    position: absolute;
    width: 245px;
    top: 120px;
    left: 70px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}
    
.vision_text p {
    font-size: 18px;
    color: #324950;
    text-align: center;
    width: 346px;
    margin: 0 auto;
}
    
    .col-lg-5{
    padding-left: 1px;
}
    
   .vision_img img {
    height: 360px;
    padding-left: 0px;
} 
    
 .colection {
    background-color: #fff;
    height: 341px;
}   
    
  .imgheader {
    position: absolute;
    left: 51px;
}  
    
  .searchform {
    position: absolute;
    left: 20px;
    top: 115px;
}  
    .intro_title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #735440;
    text-align: center;
    margin-bottom: -2px;
    padding-top: 31px;
}
   .prod-details p {
    border-top: 1px solid #57984C;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #324950;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    margin-left: 31px;
    width: 325px;
} 
    
   .container5 {
    background: #EDEDED;
    height: 1045px;
} 
.searchform2 {
    position: absolute;
    width: 245px;
    top: 120px;
    left: 38px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}    
  .footer_menu {
    display: block;
    margin-left: -55px;
    text-align: center;
}  
    
    
    
    
}

@media (max-width:320px)
{
    .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 11px;
}
    .menuUp {
    display: block;
    position: absolute;
    top: 43px;
    right: 32px;
        background-color: #97b59d;
}
    
    
    
    .openMenu {
        visibility: visible;
    }
    .menuUp {
        display: none;
    }
    .hided {
        visibility: visible;
    }
    .burger-line{
        visibility: visible;
    }
.burgerMenu {
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: auto;
    left: 256px;
}
.searchform2 {
    position: absolute;
    width: 245px;
    top: 120px;
    left: 0px;
    margin: 0 auto;
    border-bottom: 4px solid #324950;
}
    
.vision_text p {
    font-size: 18px;
    color: #324950;
    text-align: center;
    width: 238px;
    margin: 0 auto;
}
    
    .col-lg-5{
    padding-left: 1px;
}
      
    
    
 .imgheader {
    position: absolute;
    left: 8px;
}
  .searchform {
    position: absolute;
    left: -33px;
    top: 115px;
}  
    
.vision_img img {
    height: 266px;
    padding-left: 0px;
}
    
.colection {
    background-color: #fff;
    height: 821px;
}
    .prod-details p {
    border-top: 1px solid #57984C;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #324950;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    margin-left: -13px;
    width: 319px;
}
    
   .about-title {
    font-weight: bold;
    font-size: 50px;
    color: #324950;
    margin-bottom: -1px;
    text-align: center;
} 
    
  .vision_text p {
    font-size: 15px;
    color: #324950;
    text-align: center;
}  
    
  .about {
    height: 1000px;
    background: url(../images/Union.png)no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 0px;
}  
    
   .container7 {
    background: #324950;
    height: 49px;
} 
    
    .container-fluid {
    width: 65%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
   .footer_menu {
    display: block;
    margin-left: -28px;
    text-align: center;
} 
    
    
    
}