@font-face {
  font-family: 'RobotoSlab-Black';
  src: url('RobotoSlab-Black.svg#RobotoSlab-Black') format('svg'),
       url('RobotoSlab-Black.ttf') format('truetype'),
       url('RobotoSlab-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-slab-black';
  src: url('roboto-slab-black.eot');
  src: url('roboto-slab-black.eot?#iefix') format('embedded-opentype'),
       url('roboto-slab-black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

